<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my-app</title>
</head>
<body>
  <!-- Display a name -->
  <div>
    {{name}}
  </div>
  <div>
    <!-- Angular for loop -->
    <ul *ngFor="let color of colors; let i = index">
      <li>color {{i + 1}} is {{color}}</li>
    </ul>
  </div>

  <!-- iterating through custom type -->
  <div class="mycars" *ngFor="let car of cars">
    {{ car.make}} {{ car.model}} with a milage of {{ car.miles }}
  </div>
</body>
</html>